body{
  background-color: #990100;
  font-family: "Kostania Thin";
}
.navbar{
  background-color: #F6F6F6;
}
.carousel-inner{
  max-height: 500px !important;
  background-color: #F6F6F6;
}
.carousel img{
  max-height: 500px;
  height: auto;
  width: auto;
  margin: auto;
}
head{
  font-family: "Kostania Thin";
}
.column {
width: 100%;
}

@media (min-width: 600px) {
.column {
  width: 50%;
}
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }

 .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.metin {
    background-color: #F6F6F6;
    padding-left: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 5vw;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-radius: 12px;
}


